/* You can add global styles to this file, and also import other style files */
$primary_white: white;
html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding:0;
  background-image: url('./assets/earth.jpg');
  color:$primary_white;
  height: 100vh; 
}